body{
    background-image: url('assets/ed-leszczynskl-R3ofE-8DyLk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(3px);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.75);
}
